{% extends "article.html" %}
{% block article %}

<h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Top 10 Games 2018</h1>

<div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='img/games18/icon.png') }}" class="rounded-circle" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
</div>

<p class="lead">Hello! It's late, but as 2018 has come to a close (and I spent a lot of the past year playing games), I feel it may be worth
    sharing my opinion on some of the titles that I've most enjoyed- old or new- over 2018. Let's get started:</p>

<h3>8: Earthfall</h3>
<p class="lead">
    </p>

<h3>7: Unreal Tournament</h3>
<p class="lead">
    </p>

<h3>6: Rainbow Six Siege</h3>
<p class="lead">Rainbow Six: Siege would be top of this list last year, but sadly due to multiple 'mistakes' on Ubisoft's behalf, this game has fallen
    in my list of preferences. The year started... weak, with Operation Chimera introducing two ridiculous operators and a mode that wasn't fun. Operation 
    Para Bellum was good, with Alibi and Maestro bringing some genuinely new and unique ideas into the game. Villa was also a good map introduced with this
    update. 
    </p>

<h3>5: HITMAN 2</h3>
<p class="lead">HITMAN 2 is the latest game 
    </p>

<h3>4: DEADBOLT</h3>
<p class="lead">DEADBOLT is a great side-scrolling game produced by the indie devs INSERT NAME. It has a steep difficult curve
    </p>

<h3>3: Counter-Strike: Global Offensive</h3>
<p class="lead">Counter-Strike: GO was the second FPS I really ground at (TF2 was my first grind, UT3 was my first FPS). 
    </p>

<h3>2: Insurgency: Sandstorm</h3>
<p class="lead">Insurgency: Sandstorm is the Unreal Engine follow up to the wonderful game Insurgency.
    </p>

<h3>1: Insurgency</h3>
<p class="lead">Insurgency is the oldest title on this list, but also one that I have enjoyed since I bought it back in 2016. Insurgency features gritty close quater combat with
    the wonderful Source Engine retro-style graphics. The game features a huge arsenal of weapons and gorgeously crafted maps that tend to be very balanced (although sometimes the
    design can be slightly enraging and lead to issues of camping and spawn-sniping).
    </p>


{% endblock %}
