{% extends "article.html" %}
{% block article %}

<h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Reminder Bot</h1>

<div class="d-flex justify-content-center">
    <img src="https://raw.githubusercontent.com/reminder-bot/logos/master/Remind_Me_Bot_Logo_PPic.jpg" class="rounded-circle" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
</div>

<h2>What's Reminder Bot?</h2>

<p class="lead">Reminder Bot is one of my largest ongoing development projects.
    Reminder Bot is <em>the</em> Discord Bot for issuing reminders (the
    largest reminder-based bot on <a href="https://discordbots.org">DiscordBots.org</a>).
    Currently, it is on over 3'000 guilds and has 50 donators backing it up, plus 3 translators
    to help increase the availability of the bot.</p>

<br>
<hr>
<h2>Where's Reminder Bot?</h2>

<p class="lead">The source of Reminder Bot is all available in it's <a href="https://github.com/reminder-bot/">
    GitHub organization</a>. This includes translations, the web interface, the bot itself and other bits and pieces.</p>

<br>
<p class="display-4">More information and links available <a href="https://reminders.jellywx.co.uk">here</a></p>

{% endblock %}
