{% extends "article.html" %}
{% block article %}

<script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Effective Riceboard</h1>

<div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='img/riceboard.png') }}" class="rounded-circle" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
</div>

<h2>Effective Completion of the Riceboard</h2>

<p class="lead">The Riceboard is a theoretical problem which is detailed as the following:</p>

<p style="font-family: monospace;">A checker board of <var>N</var>&times;<var>N</var> tiles is filled with rice.
    The first tile has 1 grain of rice. The second tile has <var>R</var> grains of rice. The third tile has 
    <var>R</var>&times;<var>R</var> grains of rice and so on. Then, all the rice on the board is placed into bags
    of size <var>M</var>. How much rice is left over following any number of bags being filled completely?</p>

<p class="lead">The problem has quite an obvious solution once abstracted from the physical concept down to mathematical operations.
    The first tile has <var>R<sup>0</sup></var> grains of rice, since no matter the value of <var>R</var>, <var>R</var> to the zero will
    be 1. The second tile has <var>R<sup>1</sup></var>. The third tile has <var>R<sup>2</sup></var>, fourth has <var>R<sup>3</sup></var>
    and so on. Therefore, our total for the grains of rice is </p>

    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" style="font-size: 16pt;">

        <munderover>
            <mo>&sum;</mo>
            <mrow>
                <mi>x</mi>
                <mo>=</mo>
                <mn>0</mn>
            </mrow>
            <mrow>
                <msup><mi>N</mi><mn>2</mn></msup><mo>-</mo><mn>1</mn>
            </mrow>
        </munderover>
        <msup><mi>R</mi><mn>x</mn></msup>
        <mo>=</mo>
        <mn>T</mn>

    </math>

<p class="lead">This can be fairly easily implemented in Python using the following logic, where <var>rice_gain</var> is the <var>R</var> value:</p>

<pre><code class="python">total_rice = sum([rice_gain**n for n in range(grid_length**2)])</code></pre>

<p class="lead">Unfortunately, this is fairly slow when dealing with large numbers. The number of operations increases rapidly as the grid size increases.
    However, using some knowledge of sequences and series, it is possible to reduce this to a nicer relationship.<br>
    Our series we have above is:</p>

    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" style="font-size: 16pt;">

        <msub>
            <mn>U</mn>
            <mrow><mn>n</mn><mo>+</mo><mn>1</mn></mrow>
        </msub>
        <mo>=</mo>
        <msub>
            <mn>U</mn>
            <mn>n</mn>
        </msub>
        <mo>+</mo>
        <msup>
            <mn>R</mn>
            <mn>n</mn>
        </msup>

    </math>

<p class="lead">This sequence is a linear recurrence relation, which isn't useful for calculating a single desired value. However, we can convert this
    into a function in terms of <var>n</var>, through which we can then calculate a term independently of any previous terms besides an initial condition.
    To do this we must 'solve' the linear recurrence relationship.</p>

    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" style="font-size: 16pt;">

        <mtext mathsize="small">Determine a complementary function based on the coefficient of <msub mathsize="small"><mi>U</mi><mi>n</mi></msub></mtext>
        <mspace linebreak='newline'>

        <mrow>
            <msub>
                <mi>Uc</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mi>k</mi>
            <mo>&times;</mo>
            <msup>
                <mn>1</mn>
                <mi>n</mi>
            </msup>
        </mrow>

        <mspace linebreak='newline'>

        <mrow>
            <msub>
                <mi>Uc</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mi>k</mi>
        </mrow>

    </math>

{% endblock %}
