{% extends "article.html" %}
{% block article %}

<script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Effective Riceboard</h1>

<div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='img/riceboard.png') }}" class="rounded-circle" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
</div>

<h2>Effective Completion of the Riceboard</h2>

<p class="lead">The Riceboard is a theoretical problem which is detailed as the following:</p>

<p style="font-family: monospace;">A checker board of <var>N</var>&times;<var>N</var> tiles is filled with rice.
    The first tile has 1 grain of rice. The second tile has <var>R</var> grains of rice. The third tile has 
    <var>R</var>&times;<var>R</var> grains of rice and so on. Then, all the rice on the board is placed into bags
    of size <var>M</var>. How much rice is left over following any number of bags being filled completely?</p>

<p class="lead">The problem has quite an obvious solution once abstracted from the physical concept down to mathematical operations.
    The first tile has <var>R<sup>0</sup></var> grains of rice, since no matter the value of <var>R</var>, <var>R</var> to the zero will
    be 1. The second tile has <var>R<sup>1</sup></var>. The third tile has <var>R<sup>2</sup></var>, fourth has <var>R<sup>3</sup></var>
    and so on. Therefore, our total for the grains of rice is </p>

    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" style="font-size: 16pt;">

        <munderover>
            <mo>&sum;</mo>
            <mrow>
                <mi>x</mi>
                <mo>=</mo>
                <mn>0</mn>
            </mrow>
            <mrow>
                <msup><mi>N</mi><mn>2</mn></msup><mo>-</mo><mn>1</mn>
            </mrow>
        </munderover>
        <msup><mi>R</mi><mn>x</mn></msup>
        <mo>=</mo>
        <mn>T</mn>

    </math>

<p class="lead">This can be fairly easily implemented in Python using the following logic, where <var>rice_gain</var> is the <var>R</var> value:</p>

<pre><code class="python">total_rice = sum([rice_gain**n for n in range(grid_length**2)])</code></pre>

<p class="lead">Unfortunately, this is fairly slow when dealing with large numbers. The number of operations increases rapidly as the grid size increases.
    However, using some knowledge of sequences and series, it is possible to reduce this to a nicer relationship.<br>
    Our series we have above is:</p>

    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" style="font-size: 16pt;">

        <msub>
            <mn>U</mn>
            <mrow><mn>n</mn><mo>+</mo><mn>1</mn></mrow>
        </msub>
        <mo>=</mo>
        <msub>
            <mn>U</mn>
            <mn>n</mn>
        </msub>
        <mo>+</mo>
        <msup>
            <mn>R</mn>
            <mn>n</mn>
        </msup>

    </math>

<p class="lead">This sequence is a linear recurrence relation, which isn't useful for calculating a single desired value. However, we can convert this
    into a function in terms of <var>n</var>, through which we can then calculate a term independently of any previous terms besides an initial condition.
    To do this we must 'solve' the linear recurrence relationship.</p>

    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" style="font-size: 16pt;">

        <mtext mathsize="medium">Determine a complementary function based on the coefficient of <msub><mi>U</mi><mi>n</mi></msub></mtext>
        <mspace linebreak="newline">

        <mrow>
            <msub>
                <mi>C</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mi>k</mi>
            <mo>&times;</mo>
            <msup>
                <mn>1</mn>
                <mi>n</mi>
            </msup>
        </mrow>

        <mspace linebreak='newline'>

        <mrow>
            <msub>
                <mi>C</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mi>k</mi>
        </mrow>

        <mspace linebreak="newline">
        <mtext mathsize="medium">Determine a trial function based on the non-homogenous part of the linear recurrence</mtext>
        <mspace linebreak="newline">

        <mrow>
            <msub>
                <mi>T</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mi>&alpha;</mi>
            <mo>&times;</mo>
            <msup>
                <mi>R</mi>
                <mi>n</mi>
            </msup>
        </mrow>

        <mspace linebreak="newline">
        <mtext mathsize="medium">Substitute the trial function into the recurrence relationship definition</mtext>
        <mspace linebreak="newline">

        <mrow>
            <mi>&alpha;</mi>
            <mo>&times;</mo>
            <msup>
                <mi>R</mi>
                <mrow>
                    <mi>n</mi>
                    <mo>+</mo>
                    <mn>1</mn>
                </mrow>
            </msup>
            <mo>=</mo>
            <mi>&alpha;</mi>
            <mo>&times;</mo>
            <msup>
                <mi>R</mi>
                <mi>n</mi>
            </msup>
            <mo>+</mo>
            <msup>
                <mi>R</mi>
                <mi>n</mi>
            </msup>
        </mrow>

        <mspace linebreak="newline">
        <mtext mathsize="medium">Solving for &alpha;...</mtext>
        <mspace linebreak="newline">

        <mrow>
            <mi>&alpha;</mi>
            <mo>&times;</mo>
            <msup>
                <mi>R</mi>
                <mi>n</mi>
            </msup>
            <mo>=</mo>
            <mi>&alpha;</mi>
            <mo>+</mo>
            <mn>1</mn>
        </mrow>

        <mspace linebreak="newline">

        <mrow>
            <mi>&alpha;</mi>
            <mo>&times;</mo>
            <mfenced open="(" close=")" separators="">
                <msup>
                    <mi>R</mi>
                    <mi>n</mi>
                </msup>
                <mo>-</mo>
                <mn>1</mn>
            </mfenced>
            <mo>=</mo>
            <mn>1</mn>
        </mrow>

        <mspace linebreak="newline">

        <mrow>
            <mi>&alpha;</mi>
            <mo>=</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <msup>
                        <mi>R</mi>
                        <mi>n</mi>
                    </msup>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
        </mrow>

        <mspace linebreak="newline">
        <mtext mathsize="medium">Construct a general solution by adding the complementary function to the trial function</mtext>
        <mspace linebreak="newline">

        <mrow>
            <msub>
                <mi>U</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mi>k</mi>
            <mo>+</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <mi>R</mi>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
            <msup>
                <mi>R</mi>
                <mi>n</mi>
            </msup>
        </mrow>

        <mspace linebreak="newline">
        <mtext mathsize="medium">Produce a value for <mi>k</mi> by substituting an inital condition. Our sequence should start 0, 1, R, hence 
            <msub><mi>U</mi><mi>0</mi></msub><mo>=</mo><mn>0</mn>
        </mtext>
        <mspace linebreak="newline">

        <mrow>
            <msub>
                <mi>U</mi>
                <mn>0</mn>
            </msub>
            <mo>=</mo>
            <mi>k</mi>
            <mo>+</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <mi>R</mi>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
            <msup>
                <mi>R</mi>
                <mi>0</mi>
            </msup>
        </mrow>

        <mspace linebreak="newline">

        <mrow>
            <msub>
                <mi>U</mi>
                <mn>0</mn>
            </msub>
            <mo>=</mo>
            <mn>0</mn>
        </mrow>

        <mspace linebreak="newline">

        <mrow>
            <mn>0</mn>
            <mo>=</mo>
            <mi>k</mi>
            <mo>+</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <mi>R</mi>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
        </mrow>

        <mspace linebreak="newline">

        <mrow>
            <mi>k</mi>
            <mo>=</mo>
            <mo>-</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <mi>R</mi>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
        </mrow>

        <mspace linebreak="newline">
        <mtext mathsize="medium">Combinding all this we get:</mtext>
        <mspace linebreak="newline">

        <mrow>
            <msub>
                <mi>U</mi>
                <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <mi>R</mi>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
            <msup>
                <mi>R</mi>
                <mi>n</mi>
            </msup>
            <mo>-</mo>
            <mfrac>
                <mn>1</mn>
                <mrow>
                    <mi>R</mi>
                    <mo>-</mo>
                    <mn>1</mn>
                </mrow>
            </mfrac>
        </mrow>

    </math>

<p class="lead">So, all of that boils down to a fairly general function for calculating the sum of some powers of a number.
    This is a function that can be implemented in programming languages without the need for any recursive patterns or
    iterative statements- surely this is much better than our previous summing method..? I briefly benchmarked both's performance
    on some randomly produced sets of numbers (using Python), and I found the results fairly impressive. The code I used is as below:</p>

<pre><code class="python">def sum1(r, n):
    return sum([r**x for x in range(n)])

def sum2(r, n):

    return ((r ** n) // (r - 1)) - (1 // (r - 1))

def run():
    from time import time as t
    from random import randint as rand

    data = [(rand(2, 2500), rand(1, 1200)) for _ in range(32000)]

    start = t()
    x = [sum1(*x) for x in data]
    print(t() - start)

    start = t()
    y = [sum2(*x) for x in data]
    print(t() - start)

    print(set(x) ^ set(y))


</code></pre>

<p class="lead">Using the summation method, evaluation took around 100 seconds on my machine. Using the mathematical function, evaluation took 0.4 seconds.
    That's over 200 times faster.<br>
    You may see however that there's a couple of slight differences between the mathematical definition and the definition I've coded above. There's a reason
    for this. Python doesn't allow for floating points past a certain size, so therefore we are forced to deal purely with integers. Tt's alright to truncate 
    the decimals down to an integer during the division process however, since the fractions that are taken away are purely to turn the decimal back into an
    integer anyway.</p>



{% endblock %}
