{% extends "article.html" %}
{% block article %}

<h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Computing Trigonometry</h1>

<div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='img/.png') }}" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
</div>

<p class="lead">Trigonometric functions are often taken as standard- they are just 'there'.
    They make an important mathematical abstraction through which we can effectively compare
    angles and distances between sets of 3 points.
    <br>
    The common mathematical reasoning for the values of the <code>sine</code>, <code>cosine</code> and <code>tangent</code>
    functions is through the unit circle. The unit circle provides a geometric way to visualize
    the values of the functions at different points.
    <br>
    However, in computers it isn't so easy, particularly with the fact that computers can only 
    represent decimals to a certain degree of precision. However, there are a number of well-developed
    estimation methods that can be used in computers to calculate trigonometric values.
    <br>
    I will be talking about 3 of these here. One is known as the Taylor series, one uses a technique known as 
    the double-angle rule and another uses a very similar rule to the double-angle rule to shrink down a large
    angle into a number of smaller angles.
    <br>
    Some concepts you may wish to know first are <strong>recursion</strong> and <strong>radians</strong></p>

<h2>Using other mathematical functions to approximate trig</h2>

<p class="lead">The website <a href="https://geogebra.com/graphing">Geogebra</a> is a useful tool for checking
    the appearence of graphs and functions. If you go to this website, and set up a function of <code>y = sin(x)</code>,
    it should resemble the shape you're familiar with, passing through zero every interval of π. For particularly
    small values of <var>x</var>, it can be noted that the sine of <var>x</var> is almost identical to <var>x</var>
    itself. Take, for example, <code>sin(0.001) = 0.0009999998... ≈ 0.001</code>. 
    <br>
    We can make a similar statement about <code>y = cos(x)</code>, but instead by using the function
    <code>y = 1 - 0.5x<sup>2</sup></code>. We can make the comparison again with <code>cos(0.001) = 0.9999995... ≈ 
    1 - 0.5 &times; 0.001 (= 0.9999995)<sup>2</sup></code>. You can model the change of this graph on Geogebra:</p>

<img src="{{ url_for('static', filename='img/trig/geogebra.png') }}" style="width: 80vw;"></img>

<p class="lead">So now it's just a case of turning <code>sin(x)</code> into <code>sin(0.001) + sin(0.001) + ... + sin(0.001)</code>.
    And here we'll use a rule that dictates the value of <code>sin(A + B)</code>. Unfortunately, it's not as simple as <code>sin(A) +
    sin(B)</code>, but its not too far off. The rule can be shown in the diagram below, and states <code>sin(A + B) = sin(A)cos(B) +
    sin(B)cos(A)</code>, and <code>cos(A + B) = cos(A)cos(B) - sin(A)sin(B)</code>.
    <br>
    Using this information, we can define a tree recursive function to compute <code>sin(A)</code> and <code>cos(A)</code>.
    In a tree-recursive function, we must identify a break condition within our function to ensure that it doesn't enter into
    a cycle of permenant iteration. Our break condition here will be when the angle is sufficiently small, to just return the angle</p>

<pre><code class="python">from types import FunctionType

precision: float = 0.001

def sin(angle: float) -> float:
    if -precision < angle < precision:
        return angle

def cos(angle: float) -> float:
    func: FunctionType = lambda x: 1 - 0.5 * x ** 2

    if -precision < angle < precision:
        return func(angle)</code></pre>

<p class="lead">We define a set precision at the beginning, which says at what point we are taking the assumption that the sine function
    of an angle is equal to the angle. Our comparison here is <code>-p < angle < p</code>, but this can be substituted for <code>abs(angle) < p.
    Then, this precision is used as a break condition in both of our functions. We also use Python's type annotation notation to denote the
    types/return types of all the functions and variables we use. I also define a lambda function
    within the cosine function that maps a real onto the approximation for cosine (no function like this is used in sine, since the function
    there is <code>f:X = X</code>. Next, we just need to define the <code>else</code> clause of the predicate</p>

<pre><code class="python">from types import FunctionType

precision: float = 0.001

def sin(angle: float) -> float:
    if -precision < angle < precision:
        return angle
    else:
        return sin(a - precision) * cos(precision) + sin(precision) * cos(a - precision)

def cos(angle: float) -> float:
    func: FunctionType = lambda x: 1 - 0.5 * x ** 2
    if -precision < angle < precision:
        return func(angle)
    else:
        return cos(a - precision) * cos(precision) - sin(a - precision) * sin(precision)</code></pre>

{% endblock %}
