{% extends "article.html" %}
{% block article %}

<h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Fusion Discord Bots</h1>

<div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='img/fusion.png') }}" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
</div>

<p class="lead">Fusion Discord Bots is a large collaborative Discord Bot project
    that I've put hours into getting the software prepared for. You can visit what
    I've been working on at the link below!</p>

<p class="display-4">More information and links available <a href="https://fusiondiscordbots.com">here</a></p>

{% endblock %}
