{% extends "base.html" %}

{% block content %}

        <div class="container-fluid">


            <div class="row">

                <div class="col-12">

                    <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Welcome!</h1>

                </div>

            </div>
            <div class="row">

                <div class="col-1">
                </div>

                <div class="col-10">

                    <div class="d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" class="rounded-circle" style="width: 18vw; height: 18vw; margin: 1rem;"></img>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p class="lead" style="padding: 1rem;">My name is JellyWX, and welcome to my blog. 
                            My primary languages are Python and Rust, although I know enough other stuff
                            to have made this website.
                            <br>
                            <br>
                            This blog is centered around my projects and as a record of some things I've done. Some articles will appear as just
                            'updates', and some are hopefully legible code guides, many centered around mathematical themes. If you have feedback,
                            check the links at the top of the page to chat to me on Discord, or check my GitHub (where all my projects are located).
                            <br>
                            <br>
                            Thank you for visiting!
                        </p>
                    </div>

                </div>

            </div>
            <div class="row">
                
                <div class="col-lg-2 d-none d-lg-block">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-8">

                    <p class="lead text-center">All articles are available below:</p>

                    <hr>
                    <div class="container">
                        {% for article1, article2 in articles %}
                            <div class="row">
                                {% for article in (article1, article2) %}
                                    <div class="col-lg-6 col-12">
                                        <a href="{{ article.href or url_for('articles', name=article.html) }}" class="btn" style="width: 100%; height: 30vh; padding: 0;">
                                            {% if article.image.startswith('https') %}
                                            <div style="width: 100%; height: 100%; background-image: url('{{ article.image }}'); background-position: center; background-size: cover;">
                                            {% else %}
                                            <div style="width: 100%; height: 100%; background-image: url('{{ url_for('static', filename='img/{}'.format(article.image)) }}'); background-position: center; background-size: cover;">
                                            {% endif %}
                                                <p class="lead display-4 {{ article.color }}">{{ article.name }}</p>
                                                
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <br>
                        {% endfor %}
                    </div>

                </div>

            </div>

{% endblock %}
